In [4]:
import pandas as pd

In [6]:
good = pd.read_csv("./sample_data/good_data.csv")
bad = pd.read_csv("./sample_data/bad_data.csv")

In [7]:
good

,player_id,player_name,team,points,assists,rebounds,game_date,minutes_played
0,101,LeBron James,Lakers,28,8,7,2024-01-15,38
1,102,Stephen Curry,Warriors,32,6,4,2024-01-15,35
2,103,Kevin Durant,Suns,26,5,8,2024-01-15,36
3,104,Jayson Tatum,Celtics,30,4,9,2024-01-15,37
4,105,Luka Doncic,Mavericks,35,10,8,2024-01-15,40
5,106,Joel Embiid,76ers,29,3,11,2024-01-15,34
6,107,Giannis Antetokounmpo,Bucks,27,6,12,2024-01-15,33
7,108,Devin Booker,Suns,24,7,5,2024-01-15,32
8,109,Jaylen Brown,Celtics,22,5,6,2024-01-15,31
9,110,Anthony Davis,Lakers,25,2,13,2024-01-15,36

In [8]:
bad

,player_id,player_name,team,points,assists,rebounds,game_date,minutes_played
0,201,LeBron James,Lakers,28,8,7,2024-01-15,38
1,202,Stephen Curry,Warriors,invalid,6,4,2024-01-15,35
2,203,Kevin Durant,Suns,26,5,8,invalid-date,36
3,204,Jayson Tatum,Celtics,30,4,9,2024-01-15,999
4,205,Luka Doncic,Mavericks,35,10,8,2024-01-15,40
5,206,NaN,76ers,29,3,11,2024-01-15,34
6,207,Giannis Antetokounmpo,Bucks,27,6,12,2024-01-15,-5
7,208,Devin Booker,Suns,abc,7,5,2024-01-15,32
8,209,Jaylen Brown,Celtics,22,5,6,2024-01-15,31
9,210,Anthony Davis,Lakers,25,2,13,2024-01-15,36